@charset "UTF-8";
@font-face {
  font-family: Linearicons;
  src: url(./Linearicons.ttf);
}

.customers {
  padding-top: 15px;
  padding-bottom: 12px;
}

.customers ul li {
  display: inline-block;
  font-weight: 300;
  font-size: 15px;
  font-family: Promo, Helvetica, Arial, sans-serif;
  width: 187px;
  height: 50px;
  text-align: left;
  position: relative;
}

.customers ul li.deloitte {
  background-size: 120px;
  background-image: url(https://weatherstack.com/site_images/client_deloitte.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.customers ul li.microsoft {
  background-size: 135px;
  background-image: url(https://weatherstack.com/site_images/client_microsoft.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.customers ul li.warnerbros {
  background-size: 48px;
  background-image: url(https://weatherstack.com/site_images/client_warnerbros.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 110px;
}

.customers ul li.wawa {
  background-size: 85px;
  background-image: url(https://weatherstack.com/site_images/client_wawa.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 132px;
  top: -4px;
  left: 4px;
}

.customers ul li.schneider {
  background-size: 125px;
  background-image: url(https://weatherstack.com/site_images/client_schneider.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 4px;
}

.customers ul li.ericsson {
  background-image: url(https://weatherstack.com/site_images/client_ericsson_2.svg);
  width: 112px;
  top: -1px;
  background-repeat: no-repeat;
  background-position: center;
}

.customers ul li:first-child {
  top: -19px;
}

.map_features {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #eff2f5;
  background-size: 950px;
  background-image: url(https://weatherstack.com/site_images/world_map_vector_objects.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-position-y: 110px;
}

.map_features .container1 h4 {
  font-size: 25px;
  font-weight: 300;
  font-family: Promo, Helvetica, Arial, sans-serif;
  margin-bottom: 260px;
  margin-top: 0;
}

.map_features .container1 .row {
  padding-top: 20px;
  padding-right: 0;
  padding-left: 125px;
  padding-bottom: 25px;
  position: relative;
  margin: 0 auto;
  text-align: left;
  max-width: 1000px;
  box-sizing: border-box;
}

.map_features .container1 .row.realtime .heading::before {
  font-size: 60px;
  content: "";
  display: inline-block;
  font-family: Linearicons;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: 400;
  top: 5px;
  left: 10px;
  position: absolute;
  color: #a4b6c5;
}

.map_features .container1 .row.histroical .heading::before {
  font-size: 60px;
  content: "";
  display: inline-block;
  font-family: Linearicons;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: 400;
  top: 5px;
  left: 10px;
  position: absolute;
  color: #a4b6c5;
}

.map_features .container1 .row.forecast .heading::before {
  font-size: 60px;
  content: "";
  display: inline-block;
  font-family: Linearicons;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: 400;
  top: 5px;
  left: 10px;
  position: absolute;
  color: #a4b6c5;
}

.map_features .container1 .row.hour .heading::before {
  font-size: 60px;
  content: "";
  display: inline-block;
  font-family: Linearicons;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: 400;
  top: 5px;
  left: 10px;
  position: absolute;
  color: #a4b6c5;
}

.map_features .container1 .row.bulk .heading::before {
  font-size: 60px;
  content: "";
  display: inline-block;
  font-family: Linearicons;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: 400;
  top: 5px;
  left: 10px;
  position: absolute;
  color: #a4b6c5;
}

.map_features .container1 .row.language .heading::before {
  font-size: 60px;
  content: "";
  display: inline-block;
  font-family: Linearicons;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: 400;
  top: 5px;
  left: 10px;
  position: absolute;
  color: #a4b6c5;
}

.map_features .container1 .row.location .heading::before {
  font-size: 60px;
  content: "";
  display: inline-block;
  font-family: Linearicons;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: 400;
  top: 5px;
  left: 10px;
  position: absolute;
  color: #a4b6c5;
}

.map_features .container1 .row.astronomy .heading::before {
  font-size: 60px;
  content: "";
  display: inline-block;
  font-family: Linearicons;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: 400;
  top: 5px;
  left: 10px;
  position: absolute;
  color: #a4b6c5;
}

.map_features .container1 .row.realtime {
  border-top: 2px dashed #dde2e6;
  padding-top: 50px;
}

.map_features .container1 .row.realtime .include {
  margin-top: 50px;
}

.map_features .container1 .row.realtime ::before {
  top: 45px !important;
}

.map_features .container1 .row.location {
  height: auto;
}

.map_features .container1 .row .heading {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  padding: 0;
}

.map_features .container1 .row p {
  margin-bottom: 10px;
  font-size: 14px;
  max-width: 500px;
}

.map_features .container1 .row .include {
  position: absolute;
  margin: 20px 0;
  height: 82px;
  border-left: 2px dashed #dde2e6;
  padding-left: 45px;
  padding-top: 17px;
  text-align: left;
  width: 240px;
  box-sizing: border-box;
  right: 0;
  top: 0;
}

.map_features .container1 .row .include span:first-child {
  display: block;
  font-weight: bold;
  background: #416376;
  width: 80px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  margin-bottom: 7px;
}

.map_features .container1 .row .include span:last-child {
  text-align: left;
}

.faq {
  color: #16222f;
  padding: 40px 0 10px;
  background: #fff;
  text-align: center;
}

.faq h2 {
  font-size: 25px;
  margin-bottom: 40px;
  font-weight: 300;
  font-family: Promo, Helvetica, Arial, sans-serif;
}

.faq .question {
  position: relative;
  font-weight: 600;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #dedee1;
}

.faq .question::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  right: 15px;
  margin-left: -6px;
  margin-top: -1px;
  background: #aaadb1;
}

.faq .question::before :active .answer {
  display: block;
}

.faq .answer {
  display: none;
  background: #ebeff4;
  padding: 20px 15px;
  line-height: 23px;
  margin-bottom: 0;
}

.faq .faq_left {
  display: inline-block;
  width: 500px;
  vertical-align: top;
  margin-right: 25px;
  box-sizing: border-box;
}

.faq .faq_left .topic {
  margin: 0 auto 35px;
  text-align: left;
}

.faq .faq_left .topic h3 {
  color: #949494;
  margin-bottom: 10px;
  font-size: 16px;
}

.faq .faq_left .topic a:link {
  color: #2e67a8;
  text-decoration: underline;
}

.faq .faq_left .topic a:visited {
  color: #2e67a8;
}

.faq .faq_left .topic .viewall {
  padding: 15px 40px 15px 10px;
  margin: 0 auto;
  display: inline-block;
  font-size: 14px;
  font-family: Promo, Helvetica, Arial, sans-serif;
  width: 300px;
  text-align: center;
  position: relative;
  color: #7e8e9e;
  left: -20px;
}

.faq .faq_left .topic .viewall::after {
  font-family: Linearicons;
  font-size: 20px;
  font-weight: 700;
  content: "\e944";
  position: absolute;
  right: 40px;
  top: 10px;
}

.faq .faq_right {
  display: inline-block;
  width: 500px;
  vertical-align: top;
  margin-right: 25px;
  box-sizing: border-box;
  text-align: left;
}

.faq .faq_right h3 {
  color: #949494;
  margin-bottom: 10px;
  font-size: 16px;
}

.faq .faq_right a:link {
  color: #2e67a8;
  text-decoration: underline;
}

.faq .faq_right a:visited {
  color: #2e67a8;
}

.faq .faq_right .api {
  text-decoration: none !important;
  color: #283f59 !important;
}

.ready {
  padding: 45px 30px 50px 30px;
  font-family: Promo, Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  background: #eef2f5;
  box-sizing: border-box;
}

.ready span {
  padding-right: 30px;
  font-weight: 300;
  position: relative;
  top: 1px;
}

.ready span::after {
  font-family: Linearicons;
  font-size: 20px;
  display: inline-block;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 0;
  content: "\e944";
  position: absolute;
}

.ready a {
  background: #f47b21;
  padding: 17px 15px;
  margin-left: 20px;
  color: #fff;
  border-radius: 3px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
